body{
  margin: 0;
  padding-left: 50px;
  padding-top: 10px;
  background-image: url('backgroundImg.jpg');
}

select{
  width: 190px;
}

#div1{
  position: absolute;
  padding-left: 16px;
  padding-top: 30px;
  width: 90px;
  height: 550px;
  background-color: white;
  border: 3px ridge gray;
}

@media screen and (min-width: 1800px){
  body{
    overflow: scroll;
  }
  #div2{
    width: 1350px;
  }
  #div3{
    left: 1560px;
  }
}
@media screen and (max-width: 1500px){
  body{
    overflow: hidden;
  }
  #div2{
    width: 800px;
  }
  #div3{
    left: 1010px;
  }
}
#div2{
  position: absolute;
  top: 10px;
  left: 180px;
  height: 550px;
  padding: 0;
  background-color: white;
  border: 3px ridge gray;
}

#div3{
  position: absolute;
  top: 10px;
  padding-left: 10px;
  padding-top: 30px;
  width: 220px;
  height: 550px;
  background-color: white;
  border: 3px ridge gray;
}

#colorInput {
  display: none;
}

#colorLabel {
  height: 30px;
  width: 50px;
}

#textbox1{
  width: 190px;
  height: 53px;
}

#table5 td{
  padding: 5px;
}

#upload{
  width: 50px;
  height: 50px;
}

#uploadLabel{
  margin-top: 15px;
  width: 55px;
  height: 55px;
}

.button{
  width: 55px;
  height: 55px;
}